# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables
.env

# macOS
.DS_Store

# Logs
*.log

# Python packaging
build/
dist/
*.egg-info/

# Temporary files
*.tmp
